@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600&display=swap');

:root {
	--white-color: #fff;
	--text-heading: #1a1a1a;
	--text-normal: #2a2a2a;
	--purple-color: #7e60f2;
	--purple-color-2: #896ef3;
	--purple-light-color: #9c85f9;
	--purple-light-color-1: #eee9ff;

	--blue-color: #60b3fd;
	--green-color: #00d182;

	--gray-color: #7b7b7b;
	--light-gray-color: #b5b5b5;
	--light-gray-color-2: #b7b7b7;
	--light-gray-color-3: #f7f7f7;

	--border-gray: #e8e8e8;
	--border-gray-1: #efefef;
	--border-gray-2: #d6d6d6;

	--border-radius-sm: 4px;
	--border-radius-md: 10px;
	--border-radius-lg: 16px;
	--box-shadow-1: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
	--box-shadow-2: 0 7px 18px 0 rgba(0, 0, 0, 0.2);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--white-color);
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

input {
	background: var(--white-color);
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

button {
	background: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
	cursor: pointer;
	padding: 0;
	margin: 0;
	font-family: inherit;
}
ul,
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
span {
	display: inline-block;
}

.null_text {
	visibility: hidden;
}

.text-start {
	text-align: start !important;
}

.container {
	max-width: 1230px;
	margin-inline: auto;
	padding: 0 clamp(2.25rem, 1vw + 2rem, 5.5rem);
}
.container-lg {
	max-width: 1360px;
	margin-inline: auto;
}

/*---Flex----*/
.flex {
	display: flex !important;
}

.align-center {
	display: flex;
	align-items: center;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

/*---Flex-End-----*/

.btn-purple {
	background: var(--purple-color);
	color: var(--white-color);
	border-radius: 5px;
	box-shadow: var(--box-shadow-2);
}

.btn-green {
	background: var(--green-color);
	color: var(--white-color);
	border-radius: 4px;
	box-shadow: var(--box-shadow-2);
}
.btn-white {
	background: var(--white-color);
	color: var(--text-normal);
	box-shadow: var(--box-shadow-2);
	border-radius: 4px;
}

.btn-live {
	border: 1px solid var(--border-gray-1);
	color: var(--text-normal);
	display: flex;
	align-items: center;
	gap: 10.5px;
	border-radius: 5px;
}
.btn-live-icon {
	border: solid 1px #fff;
	background-color: #efefef;
}

.btn-live-small-icon {
	padding: 13.7px 13.2px 13.7px 12.2px;
	border-bottom-right-radius: 14px;
}

.btn-live-large-icon {
	padding: 17.5px 18.5px 16.5px 17.5px;
	border-bottom-right-radius: 16px;
}

.btn-live-small-text {
	font-size: 14px;
	padding-right: 10.5px;
}

.btn-live-large-text {
	padding: 18.5px 41.5px 16.5px 37.5px;
}

.btn-live-purple {
	padding: 0 12.7px 0 0;
	border-radius: 5px;
	box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	display: flex;
	align-items: center;
	gap: 8px;
}

.btn-live-purple-icon {
	border-bottom-right-radius: 17px;
	border: solid 2px #fff;
	background-color: #b09bff;
}
.btn-live-purple-text {
	font-size: 14px;
	font-weight: normal;
	line-height: 1.86;
	letter-spacing: normal;
	text-align: center;
	color: var(--text-heading);
}

.btn-small {
	padding: 15px 34px;
	font-size: 14px;
}
.btn-normal {
	padding: 15.5px 41.1px 15.5px 40.9px;
}

.btn-medium {
	padding: 14.5px 59px;
}

.btn-large {
	padding: 18.5px 71px;
}

/*--Ellipse--*/
.ellipse {
	border-radius: 50%;
	background-color: var(--green-color);
}
/*---Header---*/

.header_container {
	position: sticky;
	top: 0;
	z-index: 99999;
	background-color: var(--white-color);
}

.header_wrapper {
	width: 1360px;
	height: 124px;
	padding: 39.2px clamp(2rem, 1vw + 2rem, 139px) 57.8px;
}
.header_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_left {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

/*--Main---*/

.main_header {
	max-width: 778px;
	margin-inline: auto;
	text-align: center;
	font-weight: normal;
	font-size: clamp(2.375rem, 1vw + 2rem, 3rem);
	line-height: clamp(1.32, 1.32, 1.56);
	margin-bottom: 85px;
}
.main_header span {
	color: var(--purple-color);
}

.main_meeting-search {
	position: relative;
	display: flex;
	gap: 5px;
	margin-bottom: 25px;
}
.main_meeting-search::after {
	content: '';
	position: absolute;
	top: -25px;
	left: -90px;
	width: 1230px;
	height: 375px;
	background-image: url('/img/main-search-bg.png');
	z-index: -1;
}
.main_meeting-search-input {
	flex: 1;
	position: relative;
}
.main_meeting-search-input input {
	width: 100%;
	height: 50px;
	padding: 14px 16.7px 16px 15px;
	border-radius: var(--border-radius-sm);
	border: solid 1px var(--border-gray);
	background-color: #fff;
}
.main_meeting-search-input input::placeholder {
	color: var(--light-gray-color);
	font-size: 0.875rem;
}
.main_meeting-search-input label {
	position: absolute;
	z-index: 10;
	right: 11px;
	top: 18px;
}
.main_meeting-search-btn {
	height: 50px;
	border: solid 1px var(--border-gray);
	background-color: #fff;
	padding: 17.8px 18.1px 17.8px 17.4px;
	border-radius: 5px;
}

/*-- End-----Main---*/

/*--Meeting---*/
.meeting_cards_container {
	max-width: 1054px;
	margin-inline: auto;
	padding: 0 2rem;
}
.meeting_card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(318px, 1fr));
	gap: 50px;
	padding-bottom: 62px;
}
.meeting_card {
	box-shadow: var(--box-shadow-1);
	background: var(--white-color);
	border-radius: var(--border-radius-lg);
	overflow: hidden;
}
.meeting_card_img {
	position: relative;
	height: 181px;
}
.meeting_card_controller {
	position: absolute;
	inset: 0;
	z-index: 10;
	background-image: linear-gradient(179deg, rgba(255, 255, 255, 0) 27%, rgba(32, 32, 32, 0.65) 98%);
	padding: 0 15.1px 9px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.meeting_card_controller-new {
	padding: 8px 12px 8px 11px;
	color: var(--gray-color);
	background: var(--white-color);
	border-bottom-right-radius: var(--border-radius-lg);
	align-self: flex-start;
	font-size: 12px;
}

.meeting_card_controller-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 13px;
	color: var(--white-color);
}

.meeting_card_controller-footer-left-inner {
	margin-left: 3px;
	font-size: 11px;
}
.meeting_card_controller-footer-right-inner {
	margin-left: 4px;
	font-size: 12px;
}

.meeting_card_desc {
	padding: 19px 40px 0;
}

.meeting_card_desc-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	margin-bottom: 24px;
}

.meeting_card_desc-name-title {
	display: flex;
	align-items: center;
	gap: 6px;
	font-size: 20px;
	color: var(--text-normal);
}

.meeting_card_desc-name-subtitle {
	font-size: 12px;
	font-weight: 300;
	color: var(--light-gray-color-2);
}

.meeting_card_desc-feature {
	display: flex;
	margin-bottom: 24px;
}

.meeting_card_desc-feature-col {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 8.6px 20px 8.4px;
	text-align: center;
}

.meeting_card_desc-feature-col:not(:last-child) {
	border-right: 1px solid var(--light-gray-color-2);
}

.meeting_card_desc-feature-col-title {
	font-size: 14px;
	color: var(--text-normal);
	font-weight: 600;
	line-height: 1.29;
}

.meeting_card_desc-feature-col-subtitle {
	font-size: 11px;
	font-weight: 300;
	line-height: 1.45;
	color: var(--light-gray-color-2);
}

.meeting_card_btns {
	display: flex;
}
.meeting_card_btns > button {
	flex: 1;
	padding: 14px 34px 15px 35px;
	color: var(--white-color);
}

.meeting_card_btn-green {
	background: var(--green-color);
}
.meeting_card_btn-purple {
	background: var(--purple-light-color);
}

/*------ Meeting End----*/

/*---online_therapy----*/
.online_therapy {
	background-image: url('/img/terapi-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 49px 0 93px;
}

.online_therapy-title {
	text-align: center;
	font-size: 30px;
	color: var(--text-normal);
	font-weight: 300;
	margin-bottom: 59px;
}

.online_therapy-wrapper-grid {
	width: 644px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
	gap: 43px;
}

.online_therapy-wrapper-padding {
	padding-left: 36px;
}

.online_therapy-card,
.online_therapy-card-purple {
	padding: 18px 29px 10.7px 15px;
	color: var(--white-color);
	box-shadow: var(--box-shadow-1);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.online_therapy-card-purple {
	background: #b09bff;
	justify-content: center;
	align-items: center;
	gap: 21px;
	padding: 0 16px 0 15px;
}
.online_therapy-card-purple-text {
	font-size: 20px;
	line-height: 1.5;
}

.online_therapy-card-title {
	margin-bottom: 24.4px;
	font-size: 15px;
	line-height: 1.47;
}
.online_therapy-card-img {
	position: relative;
	height: 160px;
	width: 100%;
}

/*---online_therapy-ennd----*/

/*---therapy-connect----*/
.therapy_connect {
	text-align: center;
	margin-bottom: 86px;
}

.therapy_connect-title {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.33;
	color: var(--text-normal);
	margin-bottom: 60px;
}
.therapy_connect-img {
	position: relative;
	height: 439px;
	margin-bottom: 50px;
}

/*---therapy-connect--end----*/

/*---psychologist-select----*/
.psychologist_select {
	color: var(--white-color);
	margin-bottom: 83px;
}

.psychologist_select-wrapper {
	position: relative;
	width: 1028px;
	background: var(--purple-color-2);
	padding: 58px 0;
	text-align: center;
	border-radius: var(--border-radius-md);
}
.psychologist_select-inner {
	margin-bottom: 64px;
}

.psychologist_select-title {
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 1.33;
}

.psychologist_select-subtitle {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.71;
}
/*---psychologist-select-end----*/

/*---what_therapy---*/
.what_therapy {
	color: var(--text-normal);
	margin-bottom: 114.5px;
}

.what_therapy-container {
	width: 736px;
}

.what_therapy-wrapper {
	margin-bottom: 50px;
}

.what_therapy-desc {
	height: 387px;
	overflow-y: auto;
	margin-bottom: 50px;
	line-height: 1.63;
	padding-right: 20px;
}

.what_therapy-desc::-webkit-scrollbar {
	width: 6px;
	height: 73px;
	background-color: #ffff;
}
.what_therapy-desc::-webkit-scrollbar-thumb {
	border-radius: 3px;
	max-height: 76px;
	background-color: #efefef;
}

.what_therapy-title {
	font-size: 30px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	margin-bottom: 20px;
}

.what_therapy-btns {
	display: flex;
	gap: clamp(10px, 1vw + 3px, 21px);
}

/*---what_therapy-end---*/

/*---therapy_start---*/

.therapy_start {
	background-image: url('/img/online-terapi-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

.therapy_start-title {
	font-size: 30px;
	color: var(--text-normal);
	font-weight: 300;
	margin-bottom: 59px;
}

.therapy_start-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
	gap: 130px;
	padding: 0 3rem;
	margin-bottom: 144.3px;
}

.therapy_start-card {
	display: flex;
	flex-direction: column;
	gap: 32.4px;
}

.therapy_start-card-img {
	position: relative;
	height: 177.6px;
}

.therapy_start-card-title {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.42;
}
.therapy_start-card-desc {
	font-weight: 300;
	line-height: 1.63;
}

.therapy_start-btns {
	display: flex;
	align-items: center;
	gap: 25px;
}

/*---therapy_start--end---*/
/*---fqa---*/

.fqa {
	position: relative;
	padding-top: 270px;
	padding-bottom: 90px;
	background: url('/img/fqa-bg.png');
	background-repeat: no-repeat;
	background-position: right top 6em;
}

.fqa_title {
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.42;
	color: var(--text-normal);
	margin-bottom: 34.5px;
}

.fqa_container {
	max-width: 904px;
	padding: 0 2rem;
}

.fqa_container-grid {
	display: flex;
	gap: 1rem;
	margin-bottom: 20px;
}

.fqa_container-col {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fqa_all-select {
	color: var(--blue-color);
	text-decoration: underline;
	font-size: 12px;
	align-self: start;
}

/*---fqa--end---*/

/*-----speaking---*/
.speaking {
	background: var(--light-gray-color-3);
	color: var(--text-normal);
	padding: 0 2rem;
}

.speaking_container {
	max-width: 945px;
	display: flex;
	align-items: center;
	gap: 73px;
}

.speaking_img {
	position: relative;
	width: 100%;
	height: 564px;
}

.speaking_desc-title {
	font-size: 40px;
	font-weight: 300;
	line-height: 1.38;
	margin-bottom: 20.8px;
}

.speaking_desc-text {
	line-height: 1.63;
	margin-bottom: 59.5px;
}

/*-----speaking-end---*/

/*-----our-content---*/
.our_content {
	padding: 87.6px 0 84.5px;
}

.our_content-container {
	max-width: 778px;
	display: flex;
	gap: 177px;
	padding: 0 2rem;
}

.our_content-desc-logo {
	position: relative;
	height: 51.4px;
	width: 100%;
	margin-bottom: 31.4px;
}

.our_content-desc-title {
	font-size: 35px;
	color: #1a1a1a;
	margin-bottom: 13.6px;
}

.our_content-desc-text {
	font-weight: 300;
	line-height: 1.63;
	color: #3e3e3e;
}

.our_content-cards {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.our_content-cards-col {
	display: flex;
	gap: 10px;
}
.our_content-cards-col > * {
	flex: 1;
}

.our_content-card-yellow {
	display: flex;
	gap: 21px;
	align-items: center;
	color: #3a3a3a;
	background: #fff59b;
	padding: 13.8px 20.3px 12.1px 26px;
	border-radius: 6px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
.our_content-card-yellow-text {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.63;
	margin-bottom: 12.6px;
}

.our_content-card-yellow-btn {
	padding: 10.5px 26px 9.5px;
	border-radius: 4px;
	background-color: #fad761;
	color: var(--white-color);
}

.our_content-card-purple {
	padding: 11.3px 20.8px 15.3px 38px;
	border-radius: 6px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
	background-color: #7e60f2;
	display: flex;
	gap: 28px;
	align-items: center;
}

.our_content-card-purple-text {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	color: var(--white-color);
}

/*---Whah Connect----*/

.what_connect {
	background: var(--purple-light-color-1);
	padding: 41px 0;
}

.what_connect-container {
	width: 1082px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 106px;
	background-image: url('/img/what-connect-line.png');
	background-repeat: no-repeat;
	background-position: left center;
}

.what_connect-text {
	font-size: 42px;
	font-weight: 300;
	line-height: 1.43;
}

.what_connect-img {
	position: relative;
	height: 355px;
	width: 299px;
}

.what_connect-img-btn {
	position: absolute;
	inset: 0;
}

/*---What Connect-End----*/

/*---Footer---*/
.footer {
	background-color: var(--purple-color);
	color: var(--white-color);
	padding: 86px 2rem 20px;
}

.footer_container {
	width: 996px;
}

.footer_logo {
	text-align: center;
	margin-bottom: 113px;
}

.footer_links {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-bottom: 107px;
}

.footer_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 60px;
}

.footer_column-title {
	font-size: 20px;
	line-height: 1.9;
}

.footer_column-item {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.footer_column-item > :nth-child(2) {
	text-align: end;
}

.footer_column-item ul li {
	font-size: 12px;
	line-height: 3.33;
}

.footer_column-title-line {
	height: 1px;
	background: var(--purple-light-color);
	margin: 14.5px 0 24.5px 0;
}

.footer_social-icons {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.footer_social-link {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: solid 1px #fff;
	background-color: #7e60f2;
}

.footer_pay {
	text-align: center;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.82;
}

.footer_pay-img {
	position: relative;
	height: 40px;
	width: 100%;
}

.footer_pay-text {
	margin-bottom: 15px;
}

.footer_info {
	text-align: center;
	font-size: 12px;
	line-height: 1.67;
	color: #d0c4ff;
	margin-top: 39.6px;
}

/*---Footer-End---*/

/*----Swiper----*/

.swiper-pagination-purple-active {
	background-color: #9c85f9 !important;
	height: 12px !important;
	width: 12px !important;
	opacity: 1 !important;
}

.swiper-pagination-blue-active {
	background-color: #60b3fd !important;
	height: 12px !important;
	width: 12px !important;
	opacity: 1 !important;
}

.swiper-slide {
	height: auto !important;
}

/*----Swiper-End----*/

/*---Accordion-----*/

.accordion_item {
	background-color: var(--white-color);
	color: var(--text-normal);
	border-radius: 5px;
	border: solid 1px var(--border-gray-2);
}

.accordion_header {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	padding: 15.5px 18.2px 11.5px 13px;
}

.accordion_body {
	line-height: 1.63;
	overflow: hidden;
	transition: all 250ms cubic-bezier(0.5, 0, 0.1, 1);
	height: 0px;
}
.accordion_body-content {
	padding: 12px 37px 22.5px 26px;
}
.accordion_body-open {
	height: auto;
}

/*-------*/

/*---Media-Query--- */

@media (max-width: 768px) {
	.what_therapy-btns-mobile {
		padding: 15px 36px;
		box-shadow: 0 -7px 15px 0 rgba(0, 0, 0, 0.13);
		background-color: #f7f7f7;
		justify-content: center;
	}
	.what_therapy-wrapper-mobile {
		padding: 0 17px 0 2rem;
	}

	.flex-col-mobile {
		flex-direction: column;
	}

	.text-center-mobile {
		text-align: center;
	}

	.text-start-mobile {
		text-align: start;
	}
	.bg-none-mobile {
		background: none;
		background-size: 0;
	}
	.fqa_background-mobile {
		background-size: 68%;
	}

	.flex-col-reverse-mobile {
		flex-direction: column-reverse;
	}

	.d-none-mobile {
		display: none;
	}
	.main_meeting-search::after {
		background: none;
	}
}
